<div class="flash-messages">
    <style>
        .flash-message {
            padding: 16px 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background: #ccc;
        }

        .flash-message.success {
            border-color: #a3cfbb;
            background: #d1e7dd;
        }

        .flash-message.error {
            /* ... */
        }

        .flash-message.warning {
            /* ... */
        }
    </style>
    <% if (flash) { %>
    <div class="flash-message <%= flash.type %>"><%= flash.message %></div>
    <% } %>
</div>
